@import '../../theme';
@import '../../variables';

main {
  padding: 32px 22px 80px;

  section {
    max-width: $section-width;

    &#call-to-action {
      display: flex;
      box-sizing: border-box;
      flex-flow: column wrap;
      place-content: center;
      padding-top: 24px;

      > a {
        margin: 0 0 32px;
      }
      > a:last-child {
        margin: 0;
      }
    }

    @media (min-width: 350px) {
      &#call-to-action {
        flex-direction: row;

        > a {
          margin: 0 32px 0 0;
        }
        > a:last-child {
          margin: 0;
        }
      }
    }
  }
  app-sponsors {
    padding-top: 40px;
  }
  h1,
  h2 {
    color: mat-color($app-primary);
  }
}
