<main>
  <h1 class="mat-display-1">¡Bienvenidos!</h1>
  <section>
    <h2>Nuestra visión</h2>
    <p>
      Para construir una comunidad diversa de usuarios Angular que habla castellano y empoderarlos
      para que tengan éxito en sus objetivos de hacer del mundo un lugar mejor.
    </p>
  </section>
  <section>
    <h2>Nuestra misión</h2>
    <p>
      Establecer una base sólida de comunicación, inclusión, colaboración, asistencia y excelencia
      para apoyar a toda la creciente comunidad de Angular y en especial a las comunidades locales.
    </p>
    En el marco de nuestra visión contemplamos:
    <ul>
      <li>Ayudar al crecimiento profesional de desarrolladores Angular de habla castellana</li>
      <li>
        Aportar capital intelectual para la traducción al castellano de la documentación de Angular
      </li>
      <li>
        Brindar recomendaciones a todos los interesados en crear una comunidad Angular en su ciudad
      </li>
    </ul>
  </section>
  <section id="call-to-action">
    <a
      mat-raised-button
      color="accent"
      href="https://goo.gl/forms/MZa4w3AeILjsoTGA2"
      target="_blank"
      rel="noopener"
    >
      <mat-icon>assignment_turned_in</mat-icon>
      Regístrate Aquí
    </a>
    <a
      mat-stroked-button
      color="primary"
      href="https://chat.angular.lat"
      target="_blank"
      rel="noopener"
    >
      <mat-icon>chat</mat-icon>
      Chatear
    </a>
  </section>
  <app-sponsors></app-sponsors>
</main>
