@import '../../theme';

main {
  padding: 32px 22px 80px;

  h1,
  h2,
  h3 {
    color: mat-color($app-primary);
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      text-decoration: none;

      .mat-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 212px;
        height: 364px;
        margin: 8px;
        cursor: pointer;

        .mat-card-subtitle {
          font-size: 14px;
        }

        .mat-card-image {
          width: 100%;
          margin: auto;
        }

        .mat-card-actions {
          padding: 0;

          .mat-button {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
