// Take care: this component has ViewEncapsulation.None
main.auth-container {
  max-width: 800px;
  margin-bottom: 64px;

  ngx-auth-firebaseui {
    display: block;
    border-right: rgba(0, 0, 0, 0.12) solid 1px;

    mat-icon {
      vertical-align: middle !important;
    }
  }
}
