<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="https://goo.gl/forms/MZa4w3AeILjsoTGA2" target="_blank" rel="noopener">
        <mat-icon matListIcon>assignment_turned_in</mat-icon>
        Regístrese Aquí
      </a>
      <a mat-list-item href="https://chat.angular.lat" target="_blank" rel="noopener">
        <mat-icon matListIcon>chat</mat-icon>
        Chatear
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z1">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img width="40" alt="Logo de Angular" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="><span>ngular Latino</span>
    </mat-toolbar>
    <div fxLayout="column" class="container">
      <div class="centrar">
        <h1>¡Bienvenido!</h1>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="32px" fxFlex="50%">
        <a mat-raised-button color="accent" href="https://goo.gl/forms/MZa4w3AeILjsoTGA2"
           target="_blank" rel="noopener">
          <mat-icon>assignment_turned_in</mat-icon>
          Regístrese Aquí
        </a>
        <a mat-stroked-button color="primary" href="https://chat.angular.lat"
           target="_blank" rel="noopener">
          <mat-icon>chat</mat-icon>
          Chatear
        </a>
      </div>
      <div class="centrar">
        <h2>Más por venir pronto</h2>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
