<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [disableClose]="!(navService.isHandset$ | async)"
               [attr.role]="(navService.isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(navService.isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(navService.isHandset$ | async)">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['acerca']" routerLinkActive="active">
        <mat-icon matListIcon>group</mat-icon>
        Conócenos
      </a>
      <a mat-list-item href="https://goo.gl/forms/MZa4w3AeILjsoTGA2" target="_blank" rel="noopener">
        <mat-icon matListIcon>assignment_turned_in</mat-icon>
        Regístrate Aquí
      </a>
      <a mat-list-item href="https://chat.angular.lat" target="_blank" rel="noopener">
        <mat-icon matListIcon>chat</mat-icon>
        Chatear
      </a>
      <a mat-list-item [routerLink]="['coc']" routerLinkActive="active">
        <mat-icon matListIcon>verified_user</mat-icon>
        Código de Conducta
      </a>
      <a mat-list-item [routerLink]="['conferencias']" routerLinkActive="active">
        <mat-icon matListIcon>group_work</mat-icon>
        Conferencias
      </a>
      <a mat-list-item [routerLink]="['organizar/meetup']" routerLinkActive="active" >
        <mat-icon matListIcon>event_available</mat-icon>
        Guía de Meetups
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-nav></app-top-nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
