<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [disableClose]="(navService.isHandset | async) === false"
    [attr.role]="(navService.isHandset | async) ? 'dialog' : 'navigation'"
    [mode]="(navService.isHandset | async) ? 'over' : 'side'"
    [opened]="(navService.isHandset | async) === false"
  >
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list (click)="onNavigation()">
      <a mat-list-item [routerLink]="['acerca']" routerLinkActive="active">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Conócenos</span>
      </a>
      <a mat-list-item href="https://discord.gg/4cWb6SKUcb" target="_blank" rel="noopener">
        <mat-icon matListItemIcon>chat</mat-icon>
        Chatear
      </a>
      <a mat-list-item [routerLink]="['coc']" routerLinkActive="active">
        <mat-icon matListItemIcon>verified_user</mat-icon>
        <span matListItemTitle>Código de Conducta</span>
      </a>
      <a mat-list-item [routerLink]="['conferencias']" routerLinkActive="active">
        <mat-icon matListItemIcon>group_work</mat-icon>
        <span matListItemTitle>Conferencias</span>
      </a>
      <a mat-list-item [routerLink]="['meetups']" routerLinkActive="active">
        <mat-icon matListItemIcon>list_alt</mat-icon>
        <span matListItemTitle>Meetups</span>
      </a>
      <a mat-list-item href="https://docs.angular.lat" target="_blank" rel="noopener">
        <mat-icon matListItemIcon>description</mat-icon>
        <span matListItemTitle>Documentación</span>
      </a>
      <mat-list>
        <h3 matSubheader>Guías</h3>
        <a mat-list-item [routerLink]="['organizar/meetup']" routerLinkActive="active">
          <mat-icon matListItemIcon>event_available</mat-icon>
          <span matListItemTitle>Organizar un Meetup</span>
        </a>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-nav></app-top-nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
