@import '../../theme';

// Take care: this component has ViewEncapsulation.None
.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 210px;

  .mat-toolbar {
    background: inherit;
  }
  a.active {
    color: mat-color($app-primary);
  }
  .mat-nav-list a.mat-list-item:hover {
    background-color: mat-color($app-primary, 50);
  }
}
