@import '../../theme';

main {
  padding: 32px 22px 0;

  h1,
  h2,
  h3 {
    color: mat-color($app-primary);
  }

  section {
    max-width: 800px;
    padding-top: 32px;

    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 80px;
    }
  }
}
