@use '@angular/material' as mat;
@use 'theme';
@use 'app/nav/nav.theme.scss';

@include mat.core();
@include mat.typography-hierarchy(theme.$custom-typography);

// Include theme styles for core and each component used in your app.
@include mat.core-theme(theme.$app-theme);
@include mat.toolbar-theme(theme.$app-theme);
@include mat.icon-theme(theme.$app-theme);
@include mat.tooltip-theme(theme.$app-theme);
@include mat.snack-bar-theme(theme.$app-theme);
@include mat.sidenav-theme(theme.$app-theme);
@include mat.list-theme(theme.$app-theme);
@include mat.button-theme(theme.$app-theme);
@include mat.card-theme(theme.$app-theme);

// Application theming
@include nav.nav-theme(theme.$app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
