@use '~@angular/material' as mat;
@use '../../theme';
@use '../../variables';

:host {
  display: block;
}
h1,
h2 {
  color: mat.get-color-from-palette(theme.$app-primary);
}
section {
  display: flex;
  box-sizing: border-box;
  flex-flow: column wrap;
  align-items: center;
  max-width: variables.$section-width;
  padding-top: 16px;

  > a {
    margin: 0 0 32px;
  }
  > a:last-child {
    margin: 0;
  }

  @media (min-width: 350px) {
    flex-direction: row;

    > a {
      margin: 0 16px 0 0;
    }
    > a:last-child {
      margin: 0;
    }
  }
}
