@import "../../theme";

  h1,
  h2 {
    color: mat-color($app-primary);
  }

  section {
    max-width: 800px;

    &#last-section {
      padding-bottom: 30px;
      padding-top: 10px;
    }
  }

  #sponsors {
    padding-top: 80px;
  }