<footer>
  <div>
    <h2>Enlaces</h2>
    <ul>
      <li>
        <a [routerLink]="['acerca']">Conócenos</a>
      </li>
      <li>
        <a href="https://goo.gl/forms/MZa4w3AeILjsoTGA2" rel="noopener" target="_blank"
          >Regístrate</a
        >
      </li>
      <li>
        <a href="https://discord.gg/4cWb6SKUcb" rel="noopener" target="_blank">Chatear</a>
      </li>
      <li>
        <a [routerLink]="['coc']">Código de conducta</a>
      </li>
      <li>
        <a [routerLink]="['conferencias']">Conferencias</a>
      </li>
      <li>
        <a href="https://docs.angular.lat/" rel="noopener" target="_blank">Documentación</a>
      </li>
      <li>
        <a [routerLink]="['organizar/meetup']">Guía de Meetups</a>
      </li>
      <!--      <li>-->
      <!--        <a [routerLink]="['terminos']">Términos</a>-->
      <!--      </li>-->
    </ul>
  </div>
  <div>
    <h2>Contacta</h2>
    <ul>
      <li>
        <a href="https://twitter.com/AngularHispana" rel="noopener" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/angular-hispano" rel="noopener" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="mailto:soporte@angular.lat">Correo de soporte</a>
      </li>
    </ul>
  </div>
</footer>
