@import "../../theme";

.content {
    margin: 10px 0px 20px 0px;
    background: #1976d2;
    color: white;
    padding: 10px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: white; 
}