<footer fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="20px">
  <div fxFlex="20%">
    <h2>Enlaces</h2>
    <ul>
      <li>
        <a [routerLink]="['acerca']">Conócenos</a>
      </li>
      <li>
        <a [routerLink]="['coc']">Código de conducta</a>
      </li>
      <li>
        <a href="https://goo.gl/forms/MZa4w3AeILjsoTGA2" rel="noopener"
           target="_blank">Regístrate</a>
      </li>
      <li>
        <a href="https://chat.angular.lat/" rel="noopener" target="_blank">Chat</a>
      </li>
      <li>
        <a [routerLink]="['terminos']">Términos</a>
      </li>
      <li>
        <a href="mailto:soporte@angular.lat">Soporte</a>
      </li>
    </ul>
  </div>
  <div fxFlex="20%">
    <h2>Sociales</h2>
    <ul>
      <li>
        <a href="https://twitter.com/AngularHispana" rel="noopener" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://www.facebook.com/ComunidadAngularHispano" rel="noopener"
           target="_blank">Facebook</a>
      </li>
    </ul>
  </div>
</footer>
