@import '../../theme';
@import '../../mixins';
@import '../../variables';

main {
  padding: 32px 22px 80px;

  h1,
  h2,
  h3 {
    color: mat-color($app-primary);
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      width: 100%;
      max-width: 400px;

      .mat-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 8px;
        cursor: pointer;

        .mat-card-title {
          font-size: 18px;
        }
        .mat-card-subtitle {
          font-size: 10px;
        }
        .mat-card-image {
          margin: 0 0 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.svg {
            width: 100%;
            margin: 0 auto;
          }
        }

        .mat-card-actions {
          padding: 0;

          .mat-button {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  // Match the Angular Material SideNav's behavior
  @include breakpoint('601px') {
    section {
      align-items: start;
    }
  }

  @include breakpoint($large-tablet) {
    section {
      flex-direction: row;
      flex-wrap: wrap;

      a {
        width: auto;
        max-width: none;

        .mat-card {
          width: 212px;
          height: 375px;

          .mat-card-image {
            margin: 0 0 4px;
            max-height: 260px;
          }
        }
      }
    }
  }
}
