@use '@angular/material' as mat;
@use '../../theme';

main {
  padding: 32px 22px 0;

  h1,
  h2,
  h3 {
    color: mat.m2-get-color-from-palette(theme.$app-primary);
  }

  section {
    max-width: 800px;

    &#last-section {
      padding-bottom: 80px;
      padding-top: 64px;

      li {
        font-size: 14px;
      }
    }
  }
}
